TELEGRAM_TOKEN=ВАШ_ТОКЕН_ОТ_BOTFATHER
ANTHROPIC_KEY=sk-ant-...
GOOGLE_SHEET_ID=ВАШ_ТОКЕН_GOOGLE_SHEET_ID
MK_LINK=ВСТАВЬТЕ_ССЫЛКУ_НА_МК



BOT_TOKEN=write_bot_token
AI_AGENT_LINK=write_ai_agent_link
SUPPORT_PHONE=write_support_phone
