
#1 BOT
TELEGRAM_TOKEN=
ANTHROPIC_KEY=
GOOGLE_SHEET_ID=
GOOGLE_CREDS_JSON=
MK_LINK=ВСТАВЬТЕ_ССЫЛКУ_НА_МК

# 2ND BOYT
BOT_TOKEN=
AI_AGENT_LINK=
SUPPORT_PHONE=
    

# 4 BOT
TELEGRAM_TOKENN=
CLAUDE_API_KEYY=
4BOT_SHEET_ID
4BOT_CREDS_JSON=


#3BOT
IV_BOT_TOKEN=
IV_SHEET_ID=
IV_CREDENTIALS_FILE=